:root {
    --bg: #131013;
    --fg: #f7f7e6;
    --link-fg: #efbf7c;
    --link-visited-fg: #c4805c;

    --nav-button: #efa8a8;
    --nav-button-selected: #af90cf;
    --nav-fg: #0a0a0f;
}

/* Nav Bar */
header {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
    padding: initial 10px;

    margin-bottom: 30px;
}

header div#branding-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* Turning the logo from black to white */
header div#branding-container img {
    filter: brightness(100);
    height: 100px;
}

header div#branding-container h1 {
    font-size: 3em;
    font-family: "DejaVu Serif", "Georgia", serif;
}

nav ul {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav ul>a {
    text-decoration: none;
    display: block;

    padding: 8px 6px;

    font-size: 1.3em;
    font-family: "Open Sans", sans-serif;

    color: var(--nav-fg);
    background-color: var(--nav-button);
}

nav ul>a:hover {
    background-color: var(--nav-button-selected);
}

nav ul>a:visited {
    text-decoration: none;
    color: var(--nav-fg);

}

/* Have a repeating image in the background. */
/* From https://www.sitepoint.com/css3-transform-background-image/ */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/background */
header hr#header-end::before {
  display: block;
  content: "";
  z-index: -1;
  height: 100%;
  /* TODO! Make this random */
  background: center/var(--hr-height) 100% var(--img);
}

header hr#header-end {
  --hr-height: 32px;
  --img: url("/imgs/ruler/glasses.png");
  height: var(--hr-height);

  border: 0px;
  /* Needs to be an odd number or the imgs on either side are cut off */
  width: calc(var(--hr-height) * 25);
}
/* End Nav Bar */

body {
    color: var(--fg);
    background-color: var(--bg);

    font-family: "Open Sans", sans-serif;
}

main {
    width: 75%;
    margin: 0 auto;
    padding: 4px;
}

/* Make code a bit more readable */

code {
    font-size: 1.3em;
    max-width: fit-content;
    min-width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

a {
    color: var(--link-fg);
}

a:visited {
    color: var(--link-visited-fg);
}

/* Center the p5 canvas */
canvas.p5Canvas {
    display: block;
    margin: 0 auto;
}
